pandas==2.2.1
numpy==1.26.4
scikit-learn==1.4.1
matplotlib==3.8.3
seaborn==0.13.0
plotly==5.19.0
jupyter==1.0.0
nltk==3.8.1
transformers==4.36.0
torch==2.1.2
datasets==2.16.0
sentence-transformers==2.2.2
streamlit==1.32.0
streamlit-option-menu==0.3.12
wordcloud==1.9.3
regex==2023.12.25
turkish-stemmer==1.0.2
zeyrek==0.1.2
openai==1.6.1
python-dotenv==1.0.0 